<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<style>
    .layui-table, .layui-table-view {
        margin: 0px;
    }
    /* 防止下拉框下拉值被遮盖*/
    td .layui-form-select{
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
        text-align: center;
        text-align-last: center;
    }
</style>
<body>
<div class="demoTable">
    请输入姓名：
    <div class="layui-inline">
        <input class="layui-input" name="searchName" id="userTableReload" autocomplete="off">
    </div>
    <div class="layui-inline">
        <select name="role" xm-select="roleSelect" xm-select-height="30px" xm-select-skin="primary">
            <option value="">请选择角色</option>
        </select>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">请选择范围</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="searchTime" placeholder="开始 到 结束">
        </div>
    </div>

    <button class="layui-btn" data-type="reload">搜索</button>
    <!--<div class="layui-btn-group demoTable" style="float: right">
        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
        <button class="layui-btn" data-type="isAll">验证是否全选</button>
    </div>-->
</div>
<table class="layui-hide" id="userTable" lay-filter="userTableFilter"></table>
<script type="text/html" id="userTableBar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">确定修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="genderSelect">
    <select name="gender"  lay-filter="gender" data-value="{{d.gender}}">
        <option value="1">男</option>
        <option value="2">女</option>
    </select>
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="正常|冻结" lay-filter="statusFilter" {{ d.status == 1 ? 'checked' : '' }}>
</script>

    <!-- 内容主体区域 -->
    <script type="text/javascript" th:src="@{/js/dateUtils.js}"></script>
    <script type="text/javascript" th:src="@{/js/viewjs/userList.js}"></script>
    <script type="text/javascript" th:src="@{/js/error.js}"></script>
</body>
</html>