<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='德一集团后台管理'">

</head>
<body class="login-bg">
<div class="login layui-anim layui-anim-up">
    <div class="message">德一集团</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form" id="useLogin">
        <input name="userName" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >
        <input type="checkbox" name="rememberMe" title="记住我" lay-skin="primary">
    </form>
</div>

<script type="text/javascript" th:src="@{/js/login.js}"></script>
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/xadmin.css}">
</body>
</html>